{% extends "views/_base/base.html" %}

{% block introduction %}
	<h1>Native math goodness in CSS</h1>

	<p>Introductions and use cases for the 'new' css functions <code>min()</code>, <code>max()</code> and <code>clamp()</code></p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1, <code>min()</code></a></li>
		<li><a href="/exercise-2">Exercise 2, <code>max()</code></a></li>
		<li><a href="/exercise-3">Exercise 3, <code>clamp()</code></a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		<iframe src="https://docs.google.com/presentation/d/1C1Y7VK0km-6zQq1eBtz7bbCjSo_iFq4pzSPI-fWcPos/edit?usp=sharing" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Google meet</h2>
	<a href="https://meet.google.com/qsv-dwty-ejc?authuser=0">Join meeting</a>
{% endblock %}
